[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_sqlalchemy = "*"
Flask_Login = "*"
Bootstrap_Flask = "*"
Flask_CKEditor = "*"
WTForms = "*"
Flask_WTF = "*"
SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
